<html>
	<head>
		<title>Test CMUSphinx 4</title>
	</head>
	<body>
		<form method="POST" enctype="multipart/form-data">
			<h4>Input</h4>
			File to upload:
			<input type="file" name="upfile">
			<br>
			<input type="submit" value="Convert Voice">
		</form>
	</body>
</html>
